* {
    font: 20px 'Poppins', sans-serif;
    color: black;
    padding: 0px 12px;
    font-weight: 600;
    padding: 10px 0px;
}

.wisdom-goal-heading-tab {
    line-height: 1.5;
    vertical-align: middle;
    display: inline-block;
    text-align: center;
    padding: 0px 30px 0px 30px;
}

h1 {
    font: 50px 'Oswald', sans-serif;
    text-align: right;
}

.wisdom-goal-heading-tab p {
    text-align: right;
}