<header class="header">
    <div class="row">
        <div class="col-4">
            <img src="../../assets/images/bulb-icon-png-3.png" alt="logo" style="width:30%">
        </div>
        <div class="col-8 p-2 center">
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Menu</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Subscribe</a>
                </li>

            </ul>
        </div>

    </div>

</header>